<!DOCTYPE html><html><head><meta charset='utf-8'><link rel='stylesheet' type='text/css' href='..\static\style\css\styles.css'/></head><body><div id='container'><div id='header'><a href='index.html'><img style='width: 200px; height:150px;' src='../logo.png'></a></div></div><div id='wrapper'><div id='content'><br><h2>Sherlock Holmes</h2><br><h3>Equipements : </h3><div><ul><li>Lampe Torche</li></ul></div></div></div><div id='navigation'><ul><li><a href='cberthier.html'>Corinne Berthier</a></li>
<li><a href='sconnor.html'>Sarah Connor</a></li>
<li><a href='jmacclane.html'>Justin Macclane</a></li>
<li><a href='afoley.html'>Alice Foley</a></li>
<li><a href='mriggs.html'>Marc Riggs</a></li>
<li><a href='jwest.html'>Jules West</a></li>
<li><a href='sholmes.html'>Sabine Holmes</a></li>
<li><a href='jrouletabille.html'>Jean Rouletabille</a></li>
</div><div id='extra'><img style='width:300px; height:200px' src='../sholmes.jpg'></div><div id='footer'><p>MSPR DEV - EPSI Lyon</p></div></div></body></html>